USE [master]
GO
/****** Object:  Database [CarManager]    Script Date: 2/13/2026 9:43:32 PM ******/
CREATE DATABASE [CarManager]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CarManager', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CarManager.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CarManager_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CarManager_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CarManager].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CarManager]
GO
/****** Object:  Table [dbo].[accessory]    Script Date: 2/13/2026 9:43:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[accessory](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](50) NULL,
	[name] [nvarchar](200) NULL,
	[quantity_in_stock] [int] NULL,
	[unit_price] [decimal](15, 2) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[deleted_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[asset_change_log]    Script Date: 2/13/2026 9:43:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[asset_change_log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[vehicle_id] [int] NULL,
	[change_type] [nvarchar](20) NULL,
	[change_date] [date] NULL,
	[amount_change] [decimal](15, 2) NULL,
	[reason] [nvarchar](max) NULL,
	[accountant_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[branch]    Script Date: 2/13/2026 9:43:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[branch](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[address] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[deleted_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bulk_purchase_detail]    Script Date: 2/13/2026 9:43:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bulk_purchase_detail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[purchase_proposal_id] [int] NULL,
	[branch_id] [int] NULL,
	[proposed_quantity] [int] NULL,
	[branch_notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[check_record]    Script Date: 2/13/2026 9:43:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[check_record](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[vehicle_id] [int] NULL,
	[operator_id] [int] NULL,
	[type] [nvarchar](20) NULL,
	[record_date] [datetime] NULL,
	[mileage_at_record] [decimal](10, 2) NULL,
	[notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[depreciation_log]    Script Date: 2/13/2026 9:43:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[depreciation_log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[vehicle_id] [int] NULL,
	[calculation_date] [date] NULL,
	[depreciation_amount] [decimal](15, 2) NULL,
	[new_value] [decimal](15, 2) NULL,
	[accountant_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[disposal_proposal]    Script Date: 2/13/2026 9:43:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[disposal_proposal](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[vehicle_id] [int] NULL,
	[proposer_id] [int] NULL,
	[manager_id] [int] NULL,
	[created_date] [date] NULL,
	[approved_date] [date] NULL,
	[status] [nvarchar](20) NULL,
	[proposed_price] [decimal](15, 2) NULL,
	[reason] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[deleted_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[driver]    Script Date: 2/13/2026 9:43:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[driver](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[license_number] [nvarchar](50) NULL,
	[phone] [nvarchar](20) NULL,
	[hire_date] [date] NULL,
	[status] [nvarchar](20) NULL,
	[branch_id] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[deleted_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmailVerificationTokens]    Script Date: 2/13/2026 9:43:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailVerificationTokens](
	[EVTokenID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Token] [nvarchar](255) NOT NULL,
	[ExpiresAt] [datetime] NOT NULL,
	[UsedAt] [datetime] NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_EmailVerificationTokens] PRIMARY KEY CLUSTERED 
(
	[EVTokenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[insurance_record]    Script Date: 2/13/2026 9:43:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[insurance_record](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[vehicle_id] [int] NULL,
	[policy_number] [nvarchar](50) NULL,
	[provider] [nvarchar](100) NULL,
	[start_date] [date] NULL,
	[expiry_date] [date] NULL,
	[cost] [decimal](15, 2) NULL,
	[coverage_details] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[deleted_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[maintenance_request]    Script Date: 2/13/2026 9:43:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[maintenance_request](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[vehicle_id] [int] NULL,
	[operator_id] [int] NULL,
	[request_date] [date] NULL,
	[description] [nvarchar](max) NULL,
	[estimated_cost] [decimal](15, 2) NULL,
	[status] [nvarchar](20) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[deleted_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[over_budget_repair_proposal]    Script Date: 2/13/2026 9:43:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[over_budget_repair_proposal](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[maintenance_id] [int] NULL,
	[manager_id] [int] NULL,
	[status] [nvarchar](20) NULL,
	[over_budget_amount] [decimal](15, 2) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[deleted_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[purchase_proposal]    Script Date: 2/13/2026 9:43:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[purchase_proposal](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[proposer_id] [int] NULL,
	[manager_id] [int] NULL,
	[chief_accountant_id] [int] NULL,
	[created_date] [date] NULL,
	[approved_date] [date] NULL,
	[status] [nvarchar](20) NULL,
	[proposed_cost] [decimal](15, 2) NULL,
	[description] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[deleted_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[registration_record]    Script Date: 2/13/2026 9:43:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[registration_record](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[vehicle_id] [int] NULL,
	[registration_number] [nvarchar](50) NULL,
	[authority] [nvarchar](100) NULL,
	[issue_date] [date] NULL,
	[expiry_date] [date] NULL,
	[cost] [decimal](15, 2) NULL,
	[notes] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[deleted_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role]    Script Date: 2/13/2026 9:43:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[transfer_plan]    Script Date: 2/13/2026 9:43:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transfer_plan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[vehicle_id] [int] NULL,
	[from_branch_id] [int] NULL,
	[to_branch_id] [int] NULL,
	[manager_id] [int] NULL,
	[plan_date] [date] NULL,
	[executed_date] [date] NULL,
	[status] [nvarchar](20) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[deleted_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 2/13/2026 9:43:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[email] [nvarchar](100) NULL,
	[phone] [nvarchar](20) NULL,
	[branch_id] [int] NULL,
	[password_hash] [nvarchar](255) NULL,
	[email_verified] [bit] NULL,
	[last_login] [datetime] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[deleted_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_role]    Script Date: 2/13/2026 9:43:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_role](
	[user_id] [int] NOT NULL,
	[role_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vehicle]    Script Date: 2/13/2026 9:43:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vehicle](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[license_plate] [nvarchar](20) NULL,
	[model_id] [int] NULL,
	[year_manufacture] [int] NULL,
	[purchase_date] [date] NULL,
	[original_cost] [decimal](15, 2) NULL,
	[current_value] [decimal](15, 2) NULL,
	[mileage] [decimal](10, 2) NULL,
	[status] [nvarchar](30) NULL,
	[current_branch_id] [int] NULL,
	[current_driver_id] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[deleted_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vehicle_accessory]    Script Date: 2/13/2026 9:43:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vehicle_accessory](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[vehicle_id] [int] NULL,
	[accessory_id] [int] NULL,
	[install_date] [date] NULL,
	[remove_date] [date] NULL,
	[notes] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[deleted_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vehicle_driver_history]    Script Date: 2/13/2026 9:43:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vehicle_driver_history](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[vehicle_id] [int] NULL,
	[driver_id] [int] NULL,
	[assign_date] [date] NULL,
	[unassign_date] [date] NULL,
	[notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vehicle_model]    Script Date: 2/13/2026 9:43:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vehicle_model](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[manufacturer] [nvarchar](100) NULL,
	[model_name] [nvarchar](100) NULL,
	[year_from] [int] NULL,
	[year_to] [int] NULL,
	[seats] [int] NULL,
	[engine_type] [nvarchar](50) NULL,
	[default_price] [decimal](15, 2) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[deleted_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[branch] ON 

INSERT [dbo].[branch] ([id], [name], [address], [created_at], [updated_at], [deleted_at]) VALUES (1, N'Chi nhánh A', N'Hà Nội', CAST(N'2026-02-04T13:48:02.310' AS DateTime), CAST(N'2026-02-04T13:48:02.310' AS DateTime), NULL)
INSERT [dbo].[branch] ([id], [name], [address], [created_at], [updated_at], [deleted_at]) VALUES (2, N'Hanoi', N'1 Nguyen Trai, Hanoi', CAST(N'2026-02-12T09:35:23.483' AS DateTime), CAST(N'2026-02-12T09:35:23.483' AS DateTime), NULL)
INSERT [dbo].[branch] ([id], [name], [address], [created_at], [updated_at], [deleted_at]) VALUES (3, N'HCMC', N'100 Nguyen Hue, HCMC', CAST(N'2026-02-12T09:35:23.493' AS DateTime), CAST(N'2026-02-12T09:35:23.493' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[branch] OFF
GO
SET IDENTITY_INSERT [dbo].[driver] ON 

INSERT [dbo].[driver] ([id], [name], [license_number], [phone], [hire_date], [status], [branch_id], [created_at], [updated_at], [deleted_at]) VALUES (1, N'Nguyễn Văn A', N'B2-123456', N'0900000000', CAST(N'2024-01-01' AS Date), N'Active', 1, CAST(N'2026-02-04T13:49:08.980' AS DateTime), CAST(N'2026-02-04T13:49:08.980' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[driver] OFF
GO
SET IDENTITY_INSERT [dbo].[EmailVerificationTokens] ON 

INSERT [dbo].[EmailVerificationTokens] ([EVTokenID], [UserID], [Token], [ExpiresAt], [UsedAt], [CreatedAt]) VALUES (7, 23, N'oCKtZk-UEsNzqGrvdJDFrKS_Hd4rum9Z42XC1wf1sLWC_PEl3O3N67cXhd825Flh', CAST(N'2026-02-12T05:51:56.583' AS DateTime), CAST(N'2026-02-12T05:23:15.250' AS DateTime), CAST(N'2026-02-12T05:21:56.583' AS DateTime))
SET IDENTITY_INSERT [dbo].[EmailVerificationTokens] OFF
GO
SET IDENTITY_INSERT [dbo].[role] ON 

INSERT [dbo].[role] ([id], [name], [description]) VALUES (1, N'Operator', N'Nhân sự vận hành trực tiếp sử dụng xe; đề xuất nhu cầu, báo cáo sự cố hoặc thanh lý và xác nhận bàn giao tài sản.')
INSERT [dbo].[role] ([id], [name], [description]) VALUES (2, N'Executive Management', N'Ban lãnh đạo cấp cao chịu trách nhiệm quyết định chiến lược, quản lý ngân sách, phê duyệt mua sắm, sửa chữa, thanh lý và điều chuyển xe.')
INSERT [dbo].[role] ([id], [name], [description]) VALUES (3, N'Branch Asset Accountant', N'Kế toán tài sản chi nhánh, ghi nhận tài sản, tính khấu hao, quản lý hồ sơ và lập đề xuất thanh lý theo quy định tài chính.')
SET IDENTITY_INSERT [dbo].[role] OFF
GO
SET IDENTITY_INSERT [dbo].[user] ON 

INSERT [dbo].[user] ([id], [name], [email], [phone], [branch_id], [password_hash], [email_verified], [last_login], [created_at], [updated_at], [deleted_at]) VALUES (11, N'Nguyen Van Operator', N'operator.hn@gmail.com', N'0901000001', 2, N'$2a$11$JcURSY7ieCAyTXBaqHjwXu1oGR3S0LG9S0Q4GhNJS4Geu9bbNJKOq', 1, CAST(N'2026-02-12T04:01:08.100' AS DateTime), CAST(N'2026-02-12T09:42:15.700' AS DateTime), CAST(N'2026-02-12T09:42:15.700' AS DateTime), NULL)
INSERT [dbo].[user] ([id], [name], [email], [phone], [branch_id], [password_hash], [email_verified], [last_login], [created_at], [updated_at], [deleted_at]) VALUES (12, N'Tran Thi Operator', N'operator.hcm@gmail.com', N'0901000002', 3, N'$2a$11$JcURSY7ieCAyTXBaqHjwXu1oGR3S0LG9S0Q4GhNJS4Geu9bbNJKOq', 1, CAST(N'2026-02-12T09:42:15.703' AS DateTime), CAST(N'2026-02-12T09:42:15.703' AS DateTime), CAST(N'2026-02-12T09:42:15.703' AS DateTime), NULL)
INSERT [dbo].[user] ([id], [name], [email], [phone], [branch_id], [password_hash], [email_verified], [last_login], [created_at], [updated_at], [deleted_at]) VALUES (13, N'Le Thi Accountant', N'accountant.hn@gmail.com', N'0902000001', 2, N'$2a$11$JcURSY7ieCAyTXBaqHjwXu1oGR3S0LG9S0Q4GhNJS4Geu9bbNJKOq', 1, CAST(N'2026-02-12T09:42:15.703' AS DateTime), CAST(N'2026-02-12T09:42:15.703' AS DateTime), CAST(N'2026-02-12T09:42:15.703' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[user] OFF
GO
INSERT [dbo].[user_role] ([user_id], [role_id]) VALUES (11, 1)
INSERT [dbo].[user_role] ([user_id], [role_id]) VALUES (12, 1)
INSERT [dbo].[user_role] ([user_id], [role_id]) VALUES (13, 3)
GO
SET IDENTITY_INSERT [dbo].[vehicle] ON 

INSERT [dbo].[vehicle] ([id], [license_plate], [model_id], [year_manufacture], [purchase_date], [original_cost], [current_value], [mileage], [status], [current_branch_id], [current_driver_id], [created_at], [updated_at], [deleted_at]) VALUES (1, N'30A-12345', 1, 2022, CAST(N'2024-01-15' AS Date), CAST(800000000.00 AS Decimal(15, 2)), CAST(750000000.00 AS Decimal(15, 2)), CAST(12000.00 AS Decimal(10, 2)), N'Active', 1, 1, CAST(N'2026-02-04T13:49:17.630' AS DateTime), CAST(N'2026-02-04T13:49:17.630' AS DateTime), NULL)
INSERT [dbo].[vehicle] ([id], [license_plate], [model_id], [year_manufacture], [purchase_date], [original_cost], [current_value], [mileage], [status], [current_branch_id], [current_driver_id], [created_at], [updated_at], [deleted_at]) VALUES (2, N'32A-12345', 1, 2022, CAST(N'2024-01-15' AS Date), CAST(800000000.00 AS Decimal(15, 2)), CAST(750000000.00 AS Decimal(15, 2)), CAST(12000.00 AS Decimal(10, 2)), N'Active', 1, 1, CAST(N'2026-02-04T14:09:41.153' AS DateTime), CAST(N'2026-02-04T14:09:41.153' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[vehicle] OFF
GO
SET IDENTITY_INSERT [dbo].[vehicle_model] ON 

INSERT [dbo].[vehicle_model] ([id], [manufacturer], [model_name], [year_from], [year_to], [seats], [engine_type], [default_price], [created_at], [updated_at], [deleted_at]) VALUES (1, N'Toyota', N'Vios', 2020, 2024, 5, N'Gasoline', CAST(500000000.00 AS Decimal(15, 2)), CAST(N'2026-02-04T13:47:12.873' AS DateTime), CAST(N'2026-02-04T13:47:12.873' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[vehicle_model] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__accessor__357D4CF9071824EE]    Script Date: 2/13/2026 9:43:32 PM ******/
ALTER TABLE [dbo].[accessory] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__driver__D482A003CD535E79]    Script Date: 2/13/2026 9:43:32 PM ******/
ALTER TABLE [dbo].[driver] ADD UNIQUE NONCLUSTERED 
(
	[license_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_EmailVerificationTokens_Token]    Script Date: 2/13/2026 9:43:32 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_EmailVerificationTokens_Token] ON [dbo].[EmailVerificationTokens]
(
	[Token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmailVerificationTokens_User_Active]    Script Date: 2/13/2026 9:43:32 PM ******/
CREATE NONCLUSTERED INDEX [IX_EmailVerificationTokens_User_Active] ON [dbo].[EmailVerificationTokens]
(
	[UserID] ASC
)
INCLUDE([Token],[ExpiresAt],[UsedAt]) 
WHERE ([UsedAt] IS NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__insuranc__96916872023F60D7]    Script Date: 2/13/2026 9:43:32 PM ******/
ALTER TABLE [dbo].[insurance_record] ADD UNIQUE NONCLUSTERED 
(
	[policy_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__registra__125DB2A35D11E8BC]    Script Date: 2/13/2026 9:43:32 PM ******/
ALTER TABLE [dbo].[registration_record] ADD UNIQUE NONCLUSTERED 
(
	[registration_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__role__72E12F1BA3C40210]    Script Date: 2/13/2026 9:43:32 PM ******/
ALTER TABLE [dbo].[role] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__user__AB6E6164078874B0]    Script Date: 2/13/2026 9:43:32 PM ******/
ALTER TABLE [dbo].[user] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__vehicle__F72CD56EDBC929E2]    Script Date: 2/13/2026 9:43:32 PM ******/
ALTER TABLE [dbo].[vehicle] ADD UNIQUE NONCLUSTERED 
(
	[license_plate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[accessory] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[accessory] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[branch] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[branch] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[disposal_proposal] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[disposal_proposal] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[driver] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[driver] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[EmailVerificationTokens] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[insurance_record] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[insurance_record] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[maintenance_request] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[maintenance_request] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[over_budget_repair_proposal] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[over_budget_repair_proposal] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[purchase_proposal] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[purchase_proposal] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[registration_record] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[registration_record] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[transfer_plan] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[transfer_plan] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[user] ADD  DEFAULT ((0)) FOR [email_verified]
GO
ALTER TABLE [dbo].[user] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[user] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[vehicle] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[vehicle] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[vehicle_accessory] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[vehicle_accessory] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[vehicle_model] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[vehicle_model] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[asset_change_log]  WITH CHECK ADD FOREIGN KEY([accountant_id])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[asset_change_log]  WITH CHECK ADD FOREIGN KEY([vehicle_id])
REFERENCES [dbo].[vehicle] ([id])
GO
ALTER TABLE [dbo].[bulk_purchase_detail]  WITH CHECK ADD FOREIGN KEY([branch_id])
REFERENCES [dbo].[branch] ([id])
GO
ALTER TABLE [dbo].[bulk_purchase_detail]  WITH CHECK ADD FOREIGN KEY([purchase_proposal_id])
REFERENCES [dbo].[purchase_proposal] ([id])
GO
ALTER TABLE [dbo].[check_record]  WITH CHECK ADD FOREIGN KEY([operator_id])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[check_record]  WITH CHECK ADD FOREIGN KEY([vehicle_id])
REFERENCES [dbo].[vehicle] ([id])
GO
ALTER TABLE [dbo].[depreciation_log]  WITH CHECK ADD FOREIGN KEY([accountant_id])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[depreciation_log]  WITH CHECK ADD FOREIGN KEY([vehicle_id])
REFERENCES [dbo].[vehicle] ([id])
GO
ALTER TABLE [dbo].[disposal_proposal]  WITH CHECK ADD FOREIGN KEY([manager_id])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[disposal_proposal]  WITH CHECK ADD FOREIGN KEY([proposer_id])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[disposal_proposal]  WITH CHECK ADD FOREIGN KEY([vehicle_id])
REFERENCES [dbo].[vehicle] ([id])
GO
ALTER TABLE [dbo].[driver]  WITH CHECK ADD FOREIGN KEY([branch_id])
REFERENCES [dbo].[branch] ([id])
GO
ALTER TABLE [dbo].[EmailVerificationTokens]  WITH CHECK ADD  CONSTRAINT [FK_EmailVerificationTokens_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[user] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EmailVerificationTokens] CHECK CONSTRAINT [FK_EmailVerificationTokens_User]
GO
ALTER TABLE [dbo].[insurance_record]  WITH CHECK ADD FOREIGN KEY([vehicle_id])
REFERENCES [dbo].[vehicle] ([id])
GO
ALTER TABLE [dbo].[maintenance_request]  WITH CHECK ADD FOREIGN KEY([operator_id])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[maintenance_request]  WITH CHECK ADD FOREIGN KEY([vehicle_id])
REFERENCES [dbo].[vehicle] ([id])
GO
ALTER TABLE [dbo].[over_budget_repair_proposal]  WITH CHECK ADD FOREIGN KEY([maintenance_id])
REFERENCES [dbo].[maintenance_request] ([id])
GO
ALTER TABLE [dbo].[over_budget_repair_proposal]  WITH CHECK ADD FOREIGN KEY([manager_id])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[purchase_proposal]  WITH CHECK ADD FOREIGN KEY([chief_accountant_id])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[purchase_proposal]  WITH CHECK ADD FOREIGN KEY([manager_id])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[purchase_proposal]  WITH CHECK ADD FOREIGN KEY([proposer_id])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[registration_record]  WITH CHECK ADD FOREIGN KEY([vehicle_id])
REFERENCES [dbo].[vehicle] ([id])
GO
ALTER TABLE [dbo].[transfer_plan]  WITH CHECK ADD FOREIGN KEY([from_branch_id])
REFERENCES [dbo].[branch] ([id])
GO
ALTER TABLE [dbo].[transfer_plan]  WITH CHECK ADD FOREIGN KEY([manager_id])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[transfer_plan]  WITH CHECK ADD FOREIGN KEY([to_branch_id])
REFERENCES [dbo].[branch] ([id])
GO
ALTER TABLE [dbo].[transfer_plan]  WITH CHECK ADD FOREIGN KEY([vehicle_id])
REFERENCES [dbo].[vehicle] ([id])
GO
ALTER TABLE [dbo].[user]  WITH CHECK ADD FOREIGN KEY([branch_id])
REFERENCES [dbo].[branch] ([id])
GO
ALTER TABLE [dbo].[user_role]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[role] ([id])
GO
ALTER TABLE [dbo].[user_role]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[vehicle]  WITH CHECK ADD FOREIGN KEY([current_branch_id])
REFERENCES [dbo].[branch] ([id])
GO
ALTER TABLE [dbo].[vehicle]  WITH CHECK ADD FOREIGN KEY([current_driver_id])
REFERENCES [dbo].[driver] ([id])
GO
ALTER TABLE [dbo].[vehicle]  WITH CHECK ADD FOREIGN KEY([model_id])
REFERENCES [dbo].[vehicle_model] ([id])
GO
ALTER TABLE [dbo].[vehicle_accessory]  WITH CHECK ADD FOREIGN KEY([accessory_id])
REFERENCES [dbo].[accessory] ([id])
GO
ALTER TABLE [dbo].[vehicle_accessory]  WITH CHECK ADD FOREIGN KEY([vehicle_id])
REFERENCES [dbo].[vehicle] ([id])
GO
ALTER TABLE [dbo].[vehicle_driver_history]  WITH CHECK ADD FOREIGN KEY([driver_id])
REFERENCES [dbo].[driver] ([id])
GO
ALTER TABLE [dbo].[vehicle_driver_history]  WITH CHECK ADD FOREIGN KEY([vehicle_id])
REFERENCES [dbo].[vehicle] ([id])
GO
USE [master]
GO
